.Login {
  &-title {
    text-align: center;
    margin-bottom: 1.5em;
  }
  &-or, &-franceconnect {
    text-align: center;
    padding: 10px;
  }
}

@media screen and (max-width: 640px) {
  .Login-content {
    flex-direction: column;
  }
}

.form-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

button {
  margin-top: 30px;
}

article {
  padding: 50px;
}
