section {
  background-color: rgba(220, 220, 220, 0.4);
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

@media screen and (max-width: 640px) {
  section {
    min-width: inherit;
    padding: 10px 0;
    width: 100%;
  }
}

table {
  margin: 25px 0;
  text-align: center;
}

tr {
  cursor: pointer;
}

tr:hover {
  color: red;
}

th,
td {
  padding: 4px 8px;
  text-align: center;
}

td {
  background: white;
}
