.form-container {
  align-items: center;
  padding: 50px;
  width: 90%;
}

.datas {
  display: flex;
  flex-direction: row;
}

.city-datas,
.address-datas {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  display: flex;
  margin: 0 20px;
  width: 100%
}

.actions {
  justify-content: center;
  display: flex;
}

mat-form-field, .fieldOnCreate {
  width: 100%;
}

button {
  margin-top: 30px;
}

@media screen and (max-width: 640px) {
  .form-container {
    padding: 10px 20px 0;
    margin: 20px 0;
  }

  .datas {
    flex-direction: column;
  }

  button {
    margin-top: 50px;
  }
}
