.mat-column-id {
  max-width: 120px;
}

.mat-column-actions {
  max-width: 250px;
}

.center {
  text-align: center;
}

@media screen and (max-width: 640px) {
  section {
    padding: 10px 0;
  }

  mat-cell {
    font-size: 10px;
  }

  a {
    font-size: 10px;
    padding-left: 0;
  }
}
