<div class="App">
  <mat-sidenav-container>

    <mat-sidenav class="Sidebar mat-elevation-z1" mode="side" opened="{{this.sidebarOpened}}">

      <div class="Sidebar-header">
        <a routerLink="">
          <img
            src="assets/img/Logo_GL_couleur.svg"
            alt="Le Grand Lyon, la métropole"
            class="App-logo"
            height="43px"
          >
        </a>
      </div>

      <div class="Sidebar-content">
        <app-menu></app-menu>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="l-fillHeight">
      <mat-toolbar color="primary" class="mat-elevation-z4">

        <div class="icon-button" (click)="toggleSidenav()">
          <button mat-icon-button i18n-title="@@global.menu" title="Menu">
            <mat-icon *ngIf="sidebarOpened">arrow_back</mat-icon>
            <mat-icon *ngIf="!sidebarOpened">menu</mat-icon>
          </button>
        </div>

        {{title}}
        <div class="l-flexSpacer"></div>

        <div class="icon-button" *ngIf="!authenticated" (click)="login()">
          <button mat-icon-button i18n-title="@@global.login" title="Login">
            <mat-icon>account_circle</mat-icon>
          </button>
        </div>

        <div class="icon-button" *ngIf="authenticated" (click)="logout()">
          {{ (user | async)?.email }}
          <button mat-icon-button i18n-title="@@global.logout" title="Logout">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>

      </mat-toolbar>

      <div class="u-routerContainer">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
