<form class="" [formGroup]="form" (submit)="createOrUpdateOrderContribution()" >
  <div>
    <mat-form-field color="warn">
      <input
        type="text"
        placeholder="Agent"
        matInput
        formControlName="agent"
        [matAutocomplete]="autoAgent"
        (keyup)="searchAgents($event)"
        (blur)="validateAgentControl()"
        required
        i18n-placeholder="@@input.placeholder.agent"
      >
      <mat-autocomplete #autoAgent="matAutocomplete" [displayWith]="displayAgentValue">
        <mat-option *ngFor="let agent of agents | async" [value]="agent">
          {{ agent.id }} {{ agent.firstName }} {{ agent.lastName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field color="warn">
      <input
        matInput
        name="amount"
        type="text"
        placeholder="Amount"
        formControlName="amount"
        required
        i18n-placeholder="@@input.placeholder.amount"
      >
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    type="submit"
    color="warn"
    [disabled]="form.invalid"
    i18n="@@input.save"
  >Save</button>
</form>
