<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="agent">
    <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@global.agent">Agent</mat-header-cell>
    <mat-cell *matCellDef="let ordercontribution">{{ordercontribution.agentId}} - {{ ordercontribution.agent.firstName }} {{ ordercontribution.agent.lastName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@global.amount">Amount</mat-header-cell>
    <mat-cell *matCellDef="let ordercontribution">{{ordercontribution.amount}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef i18n="@@global.actions">Actions</mat-header-cell>
    <mat-cell *matCellDef="let ordercontribution">
      <button mat-icon-button (click)="deleteContribution(ordercontribution)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<span class="translation" #transConfirmDelete i18n="@@global.confirmDelete">Are you sure to delete ?</span>

<mat-paginator
  #paginator
  [length]="totalElement"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
